p {
  margin: 0;
  padding: 0; }

.app {
  max-width: 720px;
  margin: 0 auto; }
  .app .tutor .photo {
    width: 40%;
    height: auto;
    margin: 0 auto; }
    .app .tutor .photo img {
      width: 100%; }
    .app .tutor .photo .name {
      text-align: center; }
  .app .tutor .label {
    margin: 20px 0; }
  .app .tutor .introduce {
    margin: 5px 0 0 0;
    padding: 0 20px; }
    .app .tutor .introduce .describe {
      /*font-size: 0.12rem;*/
      text-indent: 2rem; }
  .app .add-wx-tips {
    padding: 20px; }
    .app .add-wx-tips .title {
      text-align: center; }
    .app .add-wx-tips ul {
      padding: 0;
      margin: 0; }
      .app .add-wx-tips ul li {
        /*font-size: 0.14rem;*/
        list-style: none;
        padding: 0;
        text-indent: 2rem;
        margin: 10px 0 0 0; }
        .app .add-wx-tips ul li img {
          border: 2px solid #313758; }
    .app .add-wx-tips p {
      margin: 0 !important;
      padding: 0 !important; }
  .app .wxh-box {
    padding: 20px;
    text-align: center; }
    .app .wxh-box .copy-wxh {
      font-size: 1.4rem; }
      .app .wxh-box .copy-wxh .s-wxh {
        font-size: 2rem;
        color: #FF0000;
        font-weight: bold; }
    .app .wxh-box .copy-wxh-btn {
      margin-top: 10px; }
    .app .wxh-box .s-phone {
      max-width: 400px;
      margin: 0 auto; }
      .app .wxh-box .s-phone .title {
        padding: 50px 0 10px 0;
        color: #ff0b02;
        font-weight: bold; }
    .app .wxh-box .s-joiner {
      padding: 50px 0 0 0; }
      .app .wxh-box .s-joiner .tt1 {
        display: inline-block;
        font-size: 0px;
        box-sizing: border-box !important;
        word-wrap: break-word !important; }
        .app .wxh-box .s-joiner .tt1 .tt2 {
          vertical-align: top;
          line-height: 2em;
          color: #7b7b6f;
          border-radius: 50%;
          box-sizing: border-box !important;
          word-wrap: break-word !important;
          visibility: visible !important;
          width: 30px !important;
          height: auto !important; }
        .app .wxh-box .s-joiner .tt1 img {
          height: auto !important; }
  .app .s-comments {
    width: 100%;
    margin-top: 15px; }
    .app .s-comments .s-list {
      width: 100%; }
      .app .s-comments .s-list .s-line {
        border-bottom: 1px solid #fff; }
        .app .s-comments .s-list .s-line .s-reply-box ul {
          padding: 0;
          margin: 0 10px; }
          .app .s-comments .s-list .s-line .s-reply-box ul li {
            padding: 0;
            margin: 0;
            list-style: none; }
      .app .s-comments .s-list td {
        padding: 10px; }
      .app .s-comments .s-list .s-name {
        color: #3361a7;
        /*font-size: 0.14rem;*/ }
      .app .s-comments .s-list .s-time {
        color: #c5c9cd;
        font-size: 0.9rem; }
      .app .s-comments .s-list .s-content {
        /*font-size: 0.12rem;*/ }
      .app .s-comments .s-list .s-portrait {
        height: 40px;
        width: 40px; }
  .app .html18-footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0; }

.fu_box {
  width: 204px;
  height: 328px;
  position: fixed;
  top: 150px;
  left: 20px;
  background: url(../img/fu_box.png) no-repeat center top;
  background-size: 100%;
  z-index: 8; }
  .fu_box p {
    margin: 0;
    padding: 0;
    text-align: center; }
  .fu_box .p0 {
    font-size: 16px;
    color: white; }
  .fu_box .p1 {
    font-size: 18px;
    padding-top: 40px;
    color: white; }
  .fu_box .fu_box_img {
    width: 143px;
    height: 143px;
    display: block;
    margin: 6px auto 0; }
  .fu_box img {
    vertical-align: middle;
    border: 0; }
  .fu_box .p2 {
    font-size: 18px;
    padding-top: 15px;
    color: white; }
  .fu_box .p3 {
    font-size: 18px;
    padding-top: 3px;
    color: white; }

/*# sourceMappingURL=style.css.map */
