<!--<div class="s-footer">
    <p>投资有风险 入市需谨慎<br>从事证券投资或期货交易，请通过合法证券期货经营机构进行。<br>合法机构名单可到中国证监会网站（网站（www.csrc.gov.cn）查询<br>北京天相财富管理顾问有限公司河北分公司</p>
</div>-->

<div class="s-footer">
    {:html_entity_decode($domain_copyright)}
</div>

<!--用于.copy_wx_btn按钮复制到剪贴板的内容-->
<div id="user-wx" class="user-wx" style="opacity:0;">{$user_weixin}</div>
<button type='button' class='copy_wx_btn' data-clipboard-action='copy' data-clipboard-target='#user-wx'>点击复制加微信</button>

<!-- Modal -->
<!--调用代码 data-toggle="modal" data-target="#wx-box"-->
<div class="modal fade" id="wx-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content wx-box">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="a">微信号：{$user_weixin}</div>
                <div class="b">
                    <img src="{$user_wx_qr}" width='60%' />
                </div>
                <div class='c'>
                    <img src='{$template_path}/img/copy_wx_btn.png' width='120' height='40'  onclick='click_copy_wx()' />
                </div>
            </div>
        </div>
    </div>
</div>