<div class="layui-header">
    <div class="layui-logo">推广后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">后台首页</a></li>
        <li class="layui-nav-item"><a href="">访问报告</a></li>
        <li class="layui-nav-item"><a href="">帮助中心</a></li>
        <!--<li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>-->
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <!--<img src="" class="layui-nav-img">-->
                {:session('user.user_account')}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="{:url('admin/admin/editpass')}">修改密码</a></dd>
                <dd><a href="{:url('admin/admin/loginout')}">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>