.admin{
    .login{
        padding-top: 200px;
       .box{
           width: 320px;
           margin: 0 auto;
       }
    }
}
.template{
    .style{
        .cmdlist-container {
            background: #fff;
            border: 1px solid transparent;
            img{
                width: 100%;
            }
        }
    }
    .show{
        .cmdlist-container {
            background: #fff;
            border: 1px solid transparent;
            img{
                width: 100%;

            }
        }
    }
}