<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<form>
    <div class="form-group">
        <label for="alias">落地页别名</label>
        <input type="text" class="form-control" id="alias" name="alias">
    </div>
    <div class="form-group">
        <label for="domainid">所属域名</label>
        <select class="form-control" id="domainid" name="domainid">
            {volist name="domain" id="v"}
            <option value="{$v['domain_id']}">{$v['domain_url']}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="modelid">使用模板</label>
        <select class="form-control" id="modelid" name="modelid">
            {volist name="model" id="v"}
            <option value="{$v['model_id']}">{$v['model_name']}/{$v['model_pc_filename']}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="userid">关联用户</label>
        <select class="form-control" id="userid" name="userid">
            {volist name="user" id="v"}
            <option value="{$v['user_id']}">{$v['user_name']}【{$v['user_weixin']}】</option>
            {/volist}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">确认添加</button>
</form>
</body>
</html>