<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<form method="post" action="{:url('admin/page/edit')}">
    <input type="hidden" id="page_id" name="page_id" value="{$result['page_id']}">
    <div class="form-group">
        <label for="alias">落地页别名</label>
        <input type="text" class="form-control" id="alias" name="alias" value="{$result['page_alias']}">
    </div>
    <div class="form-group">
        <label for="domain_id">所属域名</label>
        <select class="form-control" id="domain_id" name="domain_id">
            {volist name="domain" id="v"}
            <option value="{$v['domain_id']}" {if $result['page_domain_id']==$v['domain_id']}selected{/if}>{$v['domain_url']}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="model_id">使用模板</label>
        <select class="form-control" id="model_id" name="model_id">
            {volist name="model" id="v"}
            <option value="{$v['model_id']}" {if $result['page_model_id']==$v['model_id']}selected{/if}>{$v['model_name']}/{$v['model_pc_filename']}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="user_id">关联用户</label>
        <select class="form-control" id="user_id" name="user_id">
            {volist name="user" id="v"}
            <option value="{$v['user_id']}" {if $result['page_user_id']==$v['user_id']}selected{/if}>{$v['user_name']}【{$v['user_weixin']}】</option>
            {/volist}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">确认修改</button>
    <a role="button" class="btn btn-secondary" href="{:url('admin/page/show')}">返回</a>
</form>
</body>
</html>