<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<div id="app">
    <div class="layui-card">
        <div class="layui-card-header">
            <a href="{:url('admin/domain/show')}">站点管理</a> /
            <a><cite>页面管理</cite></a>
        </div>
        <div class="layui-card-body">
            <div>
                <a class="layui-btn layui-btn-normal" @click="add">新增页面</a>
                <a class="layui-btn layui-btn-normal" @click="reload">刷新</a>
            </div>
            <table id="pages" lay-filter="pages"></table>

        </div>
    </div>

    <!--新增与编辑页面HTML-->
    <div id="edit-box" style="padding:20px;display: none;">
        <form id="page-form" class="layui-form layui-form-pane" method="post" :action="postURL" lay-filter="page-form">
            <input type="hidden" name="domain_id" :value="domainID">
            <input type="hidden" name="page_id" :value="pageID">
            <div class="layui-form-item" v-show="addTypeBox">
                <label class="layui-form-label">新增方式</label>
                <div class="layui-input-block">
                    <input type="radio" name="add_type" value="single" title="单个新增" lay-filter="addTypeChecked" checked>
                    <input type="radio" name="add_type" value="batch" title="批量新增" lay-filter="addTypeChecked">
                </div>
            </div>
            <div class="layui-form-item" v-show="singleBox">
                <label class="layui-form-label">落地页名</label>
                <div class="layui-input-block">
                    <input type="text" name="page_name" placeholder="" autocomplete="off" class="layui-input"
                           v-model="pageName" :disabled="pageNameDisabled">
                </div>
            </div>
            <div class="layui-form-item" v-show="batchBox">
                <label class="layui-form-label">前缀名称</label>
                <div class="layui-input-block">
                    <input type="text" name="page_name_prefix" placeholder="" autocomplete="off" class="layui-input"
                           v-model="pageNamePrefix">
                </div>
            </div>
            <div class="layui-form-item" v-show="batchBox">
                <label class="layui-form-label">页面起始</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="page_name_suffix_min" placeholder="填写整数" autocomplete="off"
                               class="layui-input" v-model="pageNameSuffixMin">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="page_name_suffix_max" placeholder="填写整数" autocomplete="off"
                               class="layui-input" v-model="pageNameSuffixMax">
                    </div>
                </div>
            </div>
            <div class="layui-form layui-form-item"  lay-filter="templateBox">
                <label class="layui-form-label">使用模板</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline" style="width: 135px;">
                        <select name="template_dir_id" lay-search="" v-model="templateDirID" lay-filter="templateDirID">
                            <option value="">模板主题</option>
                            {volist name="template_dir" id="v"}
                            <option value="{$v['template_dir_id']}">{$v['template_dir_name']}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 135px;">
                        <select name="template_id" lay-search="" v-model="templateID" lay-filter="templateID">
                            <option value="">模板风格</option>
                            <option :value="item.template_id" v-for="item in templateItems">{{item.template_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">推广线索</label>
                <div class="layui-input-block">
                    <select name="brand_id" lay-search="" v-model="brandID" lay-filter="brandID">
                        <option value=""></option>
                        {volist name="brand" id="v"}
                        <option value="{$v['brand_id']}">{$v['brand_name']}【{$v['brand_weixin']}】</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item" v-show="applyAllBox">
                <label class="layui-form-label">应用全部</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="apply_all_template" title="模板" lay-skin="primary">
                    <input type="checkbox" name="apply_all_brand" title="线索" lay-skin="primary">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">{{submitButtonTitle}}</button>
                    <a type="button" class="layui-btn layui-btn-primary" @click="close">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/js" /}
<script>
    var layer, table, form, openIndex;
    var vm = new Vue({
        el: "#app",
        data: {
            addTypeBox: true,
            domainID: {$domain_id},
            pageID: 0,
            postURL: "",
            pageName: "",
            pageNameDisabled:false,
            pageNamePrefix: "",
            pageNameSuffixMin: "",
            pageNameSuffixMax: "",
            templateDirID: "",
            templateID: "",
            brandID: "",
            singleBox: true,
            batchBox: false,
            templateItems: "",
            submitButtonTitle: "",
            applyAllTemplate:false,
            applyAllBrand:false,
            applyAllBox:false
        },
        watch: {
            templateDirID: function (newVal, oldVal) {
                //console.log("选择的模板目录ID为：" + newVal);
                //这里其实就是templateDirID选择列表内容发生改变后的事件。
                jQuery.post("{:url('admin/page/gettemplate')}", {
                    template_dir_id: newVal
                }, function (data, status) {
                    vm.templateItems = data.data;
                    console.log(data);
                }, "JSON");

            },
            templateItems: function (newVal, oldVal) {
                setTimeout(function () {
                    form.render("select","templateBox");
                    //console.log("更新渲染模板文件选择项");
                }, 10);
            },
            templateID: function (val, olaVal) {
                setTimeout(function () {
                    form.render("select","templateBox");
                }, 10);
            }
        },
        methods: {
            add: function () {
                vm.addTypeBox = true;
                vm.pageName="";
                vm.pageNameDisabled=false;
                vm.pageNamePrefix="";
                vm.pageNameSuffixMin="";
                vm.pageNameSuffixMax="";
                vm.templateDirID="";
                vm.templateID="";
                vm.brandID="";
                vm.applyAllBox=false;
                vm.submitButtonTitle = "确认新增";
                vm.postURL = "{:url('admin/page/add')}";
                setTimeout(function () {
                    form.render("select");
                    form.render("checkbox");
                    openIndex = layer.open({
                        type: 1,
                        title: "新增",
                        area: "460px",
                        content: $("#edit-box")
                    });
                },10);
            },
            reload: function () {
                table.reload('pages');
            },
            close: function () {
                layer.close(openIndex); //执行关闭
            },
            refresh: function () {

            }
        },
        created: function () {
            layui.use(['layer', 'table', 'form'], function () {
                layer = layui.layer;
                table = layui.table;
                form = layui.form;
                table.render({
                    elem: '#pages',
                    url: '{:url("admin/page/show")}',//数据接口
                    method: 'post',
                    where: {domain_id: vm.domainID},
                    loading: true,
                    page: true,//开启分页
                    cols: [[
                        {field: 'page_id', title: 'ID', width: 80},
                        {field: 'page_name', title: '落地页名', width: 100},
                        {field: 'domain_url', title: '域名', width: 200},
                        {field: 'template_dir_name', title: '模板目录', width: 100},
                        {field: 'template_name', title: '模板文件', width: 120},
                        {
                            field: 'brand_name',
                            title: '推广信息',
                            width: 200,
                            templet: '<div>{{d.brand_name}}【{{d.brand_weixin}}】</div>'
                        },
                        {
                            title: '操作',
                            toolbar: '<div>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>' +
                            '<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="nav">访问页面</a>' +
                            '</div>'
                        }
                    ]]
                });
                table.on("tool(pages)", function (obj) {
                    var data = obj.data;
                    //console.log(data);
                    switch (obj.event) {
                        case "edit":
                            vm.addTypeBox = false;
                            vm.singleBox = true;
                            vm.batchBox = false;
                            vm.pageName=data.page_name;
                            vm.pageNameDisabled=true;
                            vm.templateDirID=data.template_dir_id;
                            vm.templateID=data.template_id;
                            vm.brandID=data.brand_id;
                            vm.postURL = "{:url('admin/page/edit')}";
                            vm.submitButtonTitle = "确认修改";
                            vm.pageID = data.page_id;
                            form.val("page-form",{
                                "apply_all_template":false,
                                "apply_all_brand":false
                            });
                            vm.applyAllBox=true;
                            setTimeout(function () {
                                form.render("select");
                                openIndex = layer.open({
                                    type: 1,
                                    title: "编辑",
                                    area: "460px",
                                    content: $("#edit-box")
                                });
                            },10);

                            break;
                        case "del":
                            layer.confirm('是否确定删除'+data.page_name+'页面？',{icon:3,title:'提示'},function (index) {
                                $.post("{:url('admin/page/del')}",{
                                    page_id:data.page_id
                                },function (data,status) {
                                    console.log(data);
                                    console.log(status);
                                    layer.msg(data.msg);
                                    if(data.code===0){
                                        obj.del();
                                    }
                                    layer.close(index);
                                },'JSON');
                            });
                            break;
                        case "nav":
                            window.open("//"+data.domain_url+"/"+data.page_name);
                            break;
                    }
                });
                form.on("radio(addTypeChecked)", function (data) {
                    if (data.value === "single") {
                        //单个新增
                        console.log("单个新增");
                        vm.postURL = "{:url('admin/page/add')}";
                        vm.singleBox = true;
                        vm.batchBox = false;
                    } else {
                        //批量新增
                        console.log("批量新增");
                        vm.postURL = "{:url('admin/page/batchadd')}";
                        vm.singleBox = false;
                        vm.batchBox = true;
                    }
                });
                form.on("select(templateDirID)", function (data) {
                    vm.templateDirID = data.value;
                });
                form.on("select(brandID)", function (data) {
                    vm.brandID = data.value;
                });
                form.on("select(templateID)", function (data) {
                    vm.templateID = data.value;
                });

                jQuery("#page-form").submit(function () {
                    var loadIndex = layer.load();
                    $(this).ajaxSubmit({
                        success: function (data, status) {
                            console.log(data);
                            layer.close(loadIndex);
                            layer.msg(data.msg);
                            if (data.code === 0) {
                                layer.close(openIndex);
                                vm.reload();
                            }
                        }
                    });
                    return false;
                });
            });
        }
    });
</script>
</body>
</html>