<div class="s-comments">
    <table class="s-list">
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_1.jpg" />
            </td>
            <td>
                <div class="s-name">大富大贵</div>
                <div class="s-time">2楼&nbsp;&nbsp;昨天15:03</div>
                <div class="s-content">我也是跟这个老师操作，之前一直亏啊，老婆本都亏了，后来偶然机会关注了老师微信后，现在月收益从2万变5万，嘻嘻~~~~</div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_2.jpg" />
            </td>
            <td>
                <div class="s-name">不当韭菜的小白</div>
                <div class="s-time">3楼&nbsp;&nbsp;昨天15:05</div>
                <div class="s-content">老师这么忙，会给投资菜鸟指导吗？要不要钱的啊？</div>
                <div class="s-reply-box">
                    <ul>
                        <li>
                            <span class="s-name">投资达人</span>：
                            <span class="s-content">老师的朋友圈每天发布市场资讯涨跌分析，他对市场把握很准，还推荐了不少其他投资项目，问了就一定回复的，只是有时忙了就迟一点，免费咨询的！
                            </span>
                            <span class="s-time">昨天 15:08</span>
                        </li>
                        <li>
                            <span class="s-name">反弹到顶</span>&nbsp;回复 <span class="s-name">投资达人</span>：
                            <span class="s-content">谢谢，我直接加上面那个微信号就可以了？ </span>
                            <span class="s-time">昨天 15:11</span>
                        </li>
                        <li>
                            <span class="s-name">投资达人</span>&nbsp;回复 <span class="s-name">反弹到顶</span>：
                            <span class="s-content">嗯嗯是的啊，愿你早点获利.^_^ </span>
                            <span class="s-time">昨天 15:14</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_3.jpg" />
            </td>
            <td>
                <div class="s-name">反弹到顶</div>
                <div class="s-time">4楼&nbsp;&nbsp;昨天15:13</div>
                <div class="s-content">感觉很真实有用，尝试了加老师好友，果然是真的！我一直是投资市场菜鸟，现在已经学习到不少经验啦！赚大钱就不是问题啦！楼主真是好人</div>
                <div class="s-reply-box">
                    <ul>
                        <li>
                            <span class="s-name">投资达人</span>：
                            <span class="s-content">祝你大赚特赚哈</span>
                            <span class="s-time">昨天 15:30</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_4.jpg" />
            </td>
            <td>
                <div class="s-name">一飞冲天</div>
                <div class="s-time">5楼&nbsp;&nbsp;昨天15:53</div>
                <div class="s-content">老师的的建议很中肯的，他会根据目个人情况做出专业判断！他上周推荐的投资产品不错，投了，一直赚，很开心，很感谢老师！</div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_5.jpg" />
            </td>
            <td>
                <div class="s-name">喵了个咪</div>
                <div class="s-time">6楼&nbsp;&nbsp;昨天16:03</div>
                <div class="s-content">嘻嘻~~~我已经加老师微信了，居然周末还在指导我，真的好积极勤奋</div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_6.jpg" />
            </td>
            <td>
                <div class="s-name">我是潜力投资</div>
                <div class="s-time">7楼&nbsp;&nbsp;昨天16:13</div>
                <div class="s-content">我现在也有在做投资，也赚了不少。虽然银行卡上的数字并没有很多，但我相信总有一天我银行卡上的数字也会像蹭蹭的上涨的，只要跟着老师学投资理财就心安了~~</div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_7.jpg" />
            </td>
            <td>
                <div class="s-name">不做无名小卒</div>
                <div class="s-time">8楼&nbsp;&nbsp;昨天17:03</div>
                <div class="s-content">我一开始以为老师只是理论派的。谁知道人家的实操那么牛，我也沾了光，哈哈，老师简直就是活神仙啊</div>
                <div class="s-reply-box">
                    <ul>
                        <li>
                            <span class="s-name">投资达人</span>：
                            <span class="s-content">亲，跟老师好好学习下怎么投资，真不是盖的</span>
                            <span class="s-time">昨天 17:30</span>
                        </li>
                        <li>
                            <span class="s-name">不做无名小卒</span>&nbsp;回复 <span class="s-name">投资达人</span>：
                            <span class="s-content">嗯嗯O(∩_∩)O~，谢谢好推荐。</span>
                            <span class="s-time">昨天 17:35</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="s-line">
            <td valign="top">
                <img class="s-portrait" src="__TEMPLATE__/tieba/img/touxiang/tx_8.jpg" />
            </td>
            <td>
                <div class="s-name">
                    左手爱上右手</div>
                <div class="s-time">9楼&nbsp;&nbsp;昨天17:13</div>
                <div class="s-content">之前一直投资好多产品都赚不到钱，很烦恼，加老师微信才给了一条明路，大爱老师！</div>
            </td>
        </tr>
    </table>
</div>