<div class="s-footer">
    {:html_entity_decode($sh.domain_copyright)}
</div>
<!--查看图片弹出-->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">图片查看</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="viewImg" src="" width="100%" />
            </div>
        </div>
    </div>
</div>

<!--用于.copy_wx_btn按钮复制到剪贴板的内容-->
<div id="user-wx" class="user-wx" style="opacity:0;">{$sh.brand_weixin}</div>
<button type='button' class='copy_wx_btn' data-clipboard-action='copy' data-clipboard-target='#user-wx'>点击复制加微信</button>

<!-- Modal -->
<!--调用代码 data-toggle="modal" data-target="#wx-box"-->
<div class="modal fade" id="wx-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content wx-box">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="a">微信号：{$sh.brand_weixin}</div>
                <div class="b">
                    <img src="{$sh.brand_weixinqr_path}" width='60%' />
                </div>
                <div class='c'>
                    <img src='__TEMPLATE__/tieba/img/copy_wx_btn.png' width='120' height='40'  onclick='click_copy_wx()' />
                </div>
            </div>
        </div>
    </div>
</div>
<!--监测代码start-->
{:html_entity_decode($sh.domain_count_code)}
<!--监测代码end-->