<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>访问统计</title>
    <link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css">
</head>
<body>
<div id="app">
    <div class="layui-layout layui-layout-admin">
        {include file="public/nav-top" /}
        {include file="public/nav-left" /}
        <div class="layui-body">
            <div class="layui-card">
                <div class="layui-card-header">访问统计</div>
                <div class="layui-card-body">
                    <div style="margin-top: 10px;">数据概括</div>
                    <hr class="layui-bg-green">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-sm4">
                                    <span>访客数：{{dataCount}}</span>
                                </div>
                                <div class="layui-col-sm4">
                                    <span>转化数：{{zhCount}}</span>
                                </div>
                                <div class="layui-col-sm4">
                                    <span>转化率：{{zhl}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>访问明细</div>
                    <hr class="layui-bg-green">
                    <table id="table_tongji" lay-filter="table_tongji"></table>
                </div>
            </div>
        </div>
        {include file="public/footer" /}
    </div>
</div>
<script src='__PLUGINS__/jquery/jquery-3.3.1.min.js'></script>
<script src='__PLUGINS__/jquery/jquery.form.min.js'></script>

<script src='__PLUGINS__/layui/layui.js'></script>

<script>
    layui.use(['element', 'layer', 'table', 'laydate', "form"], function () {
        let layer = layui.layer;
        let table = layui.table;
        let layDate = layui.laydate;
        let form = layui.form;

        let tableIns=table.render({
            elem:"table_tongji",
            url:"{:url('admin/tongji/show')}",
            method:"post",
            loading:true,
            page:true,
            where:{
                domain_url: "",
                source: "",
                zhuanhua:"",
                device: "",
                start_time: "",
                end_time: ""
            },
            toolbar:"",
            cols: [[
                {field: 'tj_id', title: 'ID', minWidth: 50},
                {field: 'tj_domain', title: '受访站点', minWidth: 150},
                {field: 'tj_page_name', title: '受访页面', minWidth: 100},
                {field: 'tj_create_time', title: '访问时间', minWidth: 180},
                {field: 'tj_device', title: '设备', minWidth: 50},
                {field: 'tj_source', title: '渠道', minWidth: 100},
                {field: 'tj_keyword', title: '关键词', minWidth: 150},
                {field: 'tj_search_keyword', title: '搜索词', minWidth: 150},
                {field: 'tj_zhuanhua', title: '转化', minWidth: 50}
            ]],
            done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                /*app.dataCount=res.count;
                app.zhCount=res.zh_count;
                app.zhl=res.zhl;*/
            }
        });

    });
</script>
</body>
</html>