<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>访问统计</title>
    {include file="public/head" /}
    {include file="public/css" /}
</head>
<body>
<div id="app">
    <div class="layui-layout layui-layout-admin">
        {include file="public/nav-top" /}
        {include file="public/nav-left" /}
        <div class="layui-body">
            <div class="layui-card">
                <div class="layui-card-header">访问统计</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">站点</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="">
                                    <option value="">默认显示全部</option>
                                    <option value="010">北京</option>
                                    <option value="021">上海</option>
                                    <option value="0571">杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">渠道</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="">
                                    <option value="">默认显示全部</option>
                                    <option value="010">北京</option>
                                    <option value="021">上海</option>
                                    <option value="0571">杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">设备</label>
                            <div class="layui-input-block">
                                <input type="radio" name="device" value="all" title="全部" checked>
                                <input type="radio" name="device" value="pc" title="PC">
                                <input type="radio" name="device" value="yd" title="YD">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">时间</label>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" name="start_time" class="layui-input" id="start_time" autocomplete="off">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" name="end_time" class="layui-input" id="end_time" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即查询</button>
                                <button type="reset" class="layui-btn layui-btn-primary">导出数据</button>
                            </div>
                        </div>
                    </form>
                    <div style="margin-top: 10px;">数据概括</div>
                    <hr class="layui-bg-green">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <span>访客数：{$todayCount}</span>
                                </div>
                                <div class="layui-col-md4">
                                    <span>转化数：{$zhCount}</span>
                                </div>
                                <div class="layui-col-md4">
                                    <span>转化率：{$zhl}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>访问明细</div>
                    <hr class="layui-bg-green">
                    <table id="template_dir_list" lay-filter="template_dir_list"></table>

                </div>
            </div>
        </div>
        {include file="public/footer" /}
    </div>

    <!--新增与编辑站点HTML-->
    <div id="edit-box" style="padding: 20px;display: none;">
        <form id="edit-form" class="layui-form layui-form-pane" method="post" :action="postURL">
            <input type="hidden" name="template_dir_id" v-model="templateDirID">
            <div class="layui-form-item">
                <label class="layui-form-label">主题目录</label>
                <div class="layui-input-block">
                    <input type="text" name="template_dir_name" required lay-verify="required" autocomplete="off"
                           class="layui-input" v-model="templateDirName">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">{{submitButtonString}}</button>
                    <a type="button" class="layui-btn layui-btn-primary" data-type="close">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/js" /}

<script>
    var app = new Vue({
        el: "#app",
        data: {
            disabled: false,
            postURL: "",
            templateDirID: 0,
            templateDirName: "",
            submitButtonString: ""
        },
        created: function () {
            layui.use(['element', 'layer', 'table','laydate'], function () {
                var layer = layui.layer,
                    table = layui.table,
                    laydate=layui.laydate;
                var openIndex;

                laydate.render({
                    elem:"#start_time"
                });
                laydate.render({
                    elem:"#end_time"
                });
                table.render({
                    elem: '#template_dir_list',
                    url: '{:url("admin/tongji/show")}',//数据接口
                    method: 'post',
                    loading: true,
                    page: true,//开启分页
                    cols: [[
                        {field: 'tj_domain', title: '受访站点', minWidth: 150},
                        {field: 'tj_page_name', title: '受访页面', minWidth: 100},
                        {field: 'tj_create_time', title: '访问时间', minWidth: 180},
                        {field: 'tj_device', title: '设备', minWidth: 50},
                        {field: 'tj_ip', title: '访问IP', minWidth: 150},
                        {field: 'tj_source', title: '渠道', minWidth: 100},
                        {field: 'tj_keyword', title: '关键词', minWidth: 150},
                        {field: 'tj_zhuanhua', title: '转化', minWidth: 50}
                    ]]
                });

                table.on('tool(template_dir_list)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'edit':
                            app.postURL = "{:url('admin/template/edit')}";
                            app.templateDirID = data.template_dir_id;
                            app.templateDirName = data.template_dir_name;
                            app.submitButtonString = "确认修改";
                            openIndex = layer.open({
                                type: 1,
                                title: "编辑",
                                area: "460px",
                                content: $("#edit-box")
                            });
                            break;
                        case 'del':
                            layer.confirm('是否确定删除' + data.template_dir_name + '主题及其所有风格？', {
                                icon: 3,
                                title: '提示'
                            }, function (index) {
                                $.post("{:url('admin/template/del')}", {
                                    template_dir_id: data.template_dir_id
                                }, function (data, status) {
                                    layer.msg(data.msg);
                                    if (data.code === 0) {
                                        obj.del();
                                    }
                                    layer.close(index);
                                }, 'JSON');
                            });
                            break;
                        case 'template':
                            var url = "{:url('admin/template/style',['template_dir_id'=>-19880722])}";
                            url = url.replace("-19880722", data.template_dir_id);
                            console.log(url);
                            location.href = url;
                            break;
                    }
                });

                jQuery("#edit-form").submit(function () {
                    var loadIndex = layer.load();
                    $(this).ajaxSubmit({
                        success: function (data, status) {
                            layer.close(loadIndex);
                            layer.msg(data.msg);
                            if (data.code === 0) {
                                layer.close(openIndex);
                                active.reload();
                            }
                        }
                    });
                    return false;
                });

                var $ = layui.$, active = {
                    reload: function () {
                        table.reload('template_dir_list');
                    },
                    add: function () {
                        app.postURL = "{:url('admin/template/add')}";
                        app.templateDirName = "";
                        app.submitButtonString = "确认新增";
                        openIndex = layer.open({
                            type: 1,
                            title: "新增",
                            area: "460px",
                            content: $("#edit-box")
                        });
                    },
                    close: function () {
                        layer.close(openIndex); //执行关闭
                    }
                };
                $('.layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
        }
    });
</script>
</body>
</html>