<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<div class="clearfix">
{volist name="files" id="v"}
    <div class="card float-left" style="width: 200px;">
        <img class="card-img-top" height="200" src="__UPLOADS__/{$v['file_path']}" alt="">
        <div class="card-body">
            <p class="card-text">文件格式：{$v['file_type']}<br>文件大小：{:round($v['file_size']/1024,2)}kb</p>
        </div>
    </div>
{/volist}
</div>
</body>
</html>