<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="layui-card">
        <div class="layui-card-header">推广线索</div>
        <div class="layui-card-body">
            <div class="domain_list_btn">
                <a class="layui-btn layui-btn-normal" data-type="add">新增线索</a>
                <a class="layui-btn layui-btn-normal" data-type="define">参数管理</a>
                <a class="layui-btn layui-btn-normal" data-type="reload">刷新</a>
            </div>
            <table id="brand_list" lay-filter="brand_list"></table>

        </div>
    </div>

    <!--新增与编辑站点HTML-->
    <div id="edit-box" style="padding: 20px;display: none;">
        <form id="add-form" class="layui-form layui-form-pane" method="post" :action="postURL">
            <input type="hidden" name="brand_id" v-model="brandID">
            <div class="layui-form-item">
                <label class="layui-form-label">线索名称</label>
                <div class="layui-input-block">
                    <input type="text" name="brand_name" required lay-verify="required" autocomplete="off" class="layui-input" v-model="brandName">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">微信号</label>
                <div class="layui-input-block">
                    <input type="text" name="brand_weixin" required lay-verify="required" autocomplete="off" class="layui-input" v-model="brandWeiXin">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">线索头像</label>
                <div class="layui-input-block">
                    <input type="hidden" name="brand_icon_path" v-model="brandIconPath">
                    <img :src="brandIconPath" width="120"  height="100" /><br>
                    <button type="button" class="layui-btn" style="width: 120px;" id="upload_icon">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">二维码</label>
                <div class="layui-input-block">
                    <input type="hidden" name="brand_weixinqr_path" v-model="brandWeiXinQRPath">
                    <img :src="brandWeiXinQRPath" width="120"  height="100" /><br>
                    <button type="button" class="layui-btn" style="width: 120px;" id="upload_wx_qr">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">{{submitButtonString}}</button>
                    <a type="button" class="layui-btn layui-btn-primary" data-type="close">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/js" /}
<script type="text/html" id="brand_weixinqr_img">
    <div><img src="{{d.brand_weixinqr_path}}" width="50" height="50" /></div>
</script>
<script type="text/html" id="brand_icon_img">
    <div><img src="{{d.brand_icon_path}}" width="50" height="50" /></div>
</script>

<script>
    var app=new Vue({
        el:"#app",
        data:{
            disabled:false,
            uploadPath:"__UPLOADS__",
            postURL:"",
            brandID:0,
            brandName:"",
            brandWeiXin:"",
            brandWeiXinQRPath:"",
            brandIconPath:"",
            submitButtonString:""
        },
        created:function () {
            layui.use(['layer','table',"upload"],function () {
                var layer=layui.layer,
                    table=layui.table,
                    upload=layui.upload;
                var openIndex;

                table.render({
                    elem:'#brand_list',
                    url:'{:url("admin/brand/show")}',//数据接口
                    method:'post',
                    loading:true,
                    page:true,//开启分页
                    cols:[[
                        {field:'brand_id',title:'ID',width:80},
                        {field:'brand_name',title:'线索名称',width:150},
                        {field:'brand_weixin',title:'微信号',width:200},
                        {field:'brand_icon_path',title:'线索头像',width:150,templet:'#brand_icon_img'},
                        {field:'brand_weixinqr_path',title:'二维码',width:150,templet:'#brand_weixinqr_img'},
                        {title:'操作',
                            toolbar: '<div>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>' +
                            '<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="other">其它参数</a>' +
                            '</div>'}
                    ]]
                });
                table.on('tool(brand_list)',function (obj) {
                    var data=obj.data;
                    switch (obj.event){
                        case 'edit':
                            app.brandID=data.brand_id;
                            app.postURL="{:url('admin/brand/edit')}";
                            app.brandName=data.brand_name;
                            app.brandWeiXin=data.brand_weixin;
                            app.brandWeiXinQRPath=data.brand_weixinqr_path;
                            app.brandIconPath=data.brand_icon_path;
                            app.submitButtonString="确认修改";
                            openIndex=layer.open({
                                type:1,
                                title:"编辑",
                                area:"460px",
                                content:$("#edit-box")
                            });
                            break;
                        case 'del':
                            layer.confirm('是否确定删除【'+data.brand_name+'】线索？',{icon:3,title:'提示'},function (index) {
                                $.post("{:url('admin/brand/del')}",{
                                    brand_id:data.brand_id
                                },function (data,status) {
                                    console.log(data);
                                    console.log(status);
                                    layer.msg(data.msg);
                                    if(data.code===0){
                                        obj.del();
                                    }
                                    layer.close(index);
                                },'JSON');
                            });
                            break;
                        case 'other':
                            var url="{:url('admin/brand/definelist',['brand_id'=>-19880722])}";
                            url=url.replace("-19880722",data.brand_id);
                            console.log(url);
                            location.href=url;
                            break;
                    }
                });

                jQuery("#add-form").submit(function () {
                    var loadIndex=layer.load();
                    $(this).ajaxSubmit({
                        success:function (data,status) {
                            layer.close(loadIndex);
                            layer.msg(data.msg);
                            if(data.code===0){
                                layer.close(openIndex);
                                active.reload();
                            }
                        }
                    });
                    return false;
                });
                //创建一个上传组件
                upload.render({
                    elem: '#upload_wx_qr'
                    ,url: "{:url('admin/file/upload')}"
                    ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                        layer.load(); //上传loading
                    }
                    ,done: function(res, index, upload){ //上传后的回调
                        console.log(res);
                        var data=res.data;
                        app.brandWeiXinQRPath=app.uploadPath+"/"+data.file_path;
                        layer.closeAll('loading'); //关闭loading
                    }
                    ,error: function(index, upload){
                        layer.closeAll('loading'); //关闭loading
                    }
                    ,accept: 'images' //允许上传的文件类型
                    ,size: 2048 //最大允许上传的文件大小
                });
                upload.render({
                    elem: '#upload_icon'
                    ,url: "{:url('admin/file/upload')}"
                    ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                        layer.load(); //上传loading
                    }
                    ,done: function(res, index, upload){ //上传后的回调
                        console.log(res);
                        var data=res.data;
                        app.brandIconPath=app.uploadPath+"/"+data.file_path;
                        layer.closeAll('loading'); //关闭loading
                    }
                    ,error: function(index, upload){
                        layer.closeAll('loading'); //关闭loading
                    }
                    ,accept: 'images' //允许上传的文件类型
                    ,size: 2048 //最大允许上传的文件大小
                });
                var $=layui.$,active={
                    reload:function () {
                        table.reload('brand_list');
                    },
                    add:function () {
                        app.postURL="{:url('admin/brand/add')}";
                        app.brandName="";
                        app.brandWeiXin="";
                        app.brandWeiXinQRPath="";
                        app.brandIconPath="";
                        app.submitButtonString="确认新增";
                        openIndex=layer.open({
                            type:1,
                            title:"新增",
                            area:"460px",
                            content:$("#edit-box")
                        });
                    },
                    close:function () {
                        layer.close(openIndex); //执行关闭
                    },
                    define:function () {
                        location.href="{:url('admin/brand/define')}"
                    }
                };
                $('.layui-btn').on('click', function(){
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
        }
    });
</script>
</body>
</html>