.top {
    img {
        width: 100%;
    }
}
.wx-box{
    text-align: center;
    padding: 10px;
    .title{
        padding: 10px 0;
        font-size: 25px;
        color: #FF0000;
    }
    .wx{
        padding: 10px 0;
        font-size: 25px;
    }
    .wx-btn{
        padding: 10px 0;
        button{
            font-size: 25px;
            height: 60px!important;
            padding: 0;
        }
    }
    .note{
        padding: 10px 0;
    }
}
.a-box {
    padding: 20px 0;
    .b{
        padding: 30px 10px;
        .icon {
            padding-right: 10px;
            img {
                width: 60px;
            }
        }

        .title {
            font-size: 20px;
            color: #1f82ed;
        }

        .content {
            font-size: 15px;
            color: #696969;
            padding-top: 10px;
        }
    }
}
.b-box{
    background: #e7fbff;
    padding-bottom: 40px;
    .t{
        text-align: center;
        color: #11b7ff;
        font-size: 40px;
        padding: 40px 20px;
    }
    .h{
        width: 100%;
        .s-li{
            width: 100%;
            .l{
                width: 50%;
                padding: 10px;
                .title{
                    font-size: 22px;
                    padding: 5px 0;
                }
                .content{
                    font-size: 15px;
                    color: #949494;
                }
            }
            .r{
                width: 50%;
                padding: 20px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.footer{
    background: rgba(38,38,38,0.6);;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 0;
    p{
        padding: 0;
        margin: 0;
    }
}