$maxWidth:1080px;

.s-content{
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
.s-footer{
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
}

.wx-box{
    width: auto;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    background: #64ab23;
    color: #fcff19;
    margin: 0 auto;
    .a{
        font-size: 1.2rem;

    }
    .b{
        margin-top: 10px;
    }
    .c{
        margin-top: 10px;
    }
}
.touch_icon {
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 999;
}
.fu_box {
    width: 204px;
    height: 328px;
    position: fixed;
    top: 150px;
    left: 20px;
    background: url(../img/fu_box.png) no-repeat center top;
    background-size: 100%;
    z-index: 8;
    p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .p0{
        font-size: 16px;
        color: white;
    }
    .p1 {
        font-size: 18px;
        padding-top: 40px;
        color: white;
    }
    .fu_box_img {
        width: 143px;
        height: 143px;
        display: block;
        margin: 6px auto 0;
    }
    img {
        vertical-align: middle;
        border: 0;
    }
    .p2 {
        font-size: 18px;
        padding-top: 15px;
        color: white;
    }
    .p3 {
        font-size: 18px;
        padding-top: 3px;
        color: white;
    }
}
.copy_wx_box {
    width: 100%;
    height: 50px;
    background: #64ab23;
    color: #fcff19;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    .copy_wx_btn{
        font-size: 16px;
        display: none;
    }
}
.copy_wx_box_pc {
    width: 100%;
    height: 50px;
    background: #f85b55;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.copy_wx_btn{
    font-size: 16px;
    display: none;
}
.html18{
    max-width: 720px;
    margin: 0 auto;
    p{
        margin: 0!important;
        padding: 0!important;
    }
    .wxh-box{
        padding: 0.2rem;
        text-align: center;
        .copy-wxh{
            font-size: 0.22rem;
            padding-bottom: 0.1rem;
            .s-wxh{
                font-size: 0.28rem;
                color: #FF0000;
                font-weight: bold;
            }
        }
        .copy-wxh-tips{
            font-size: 0.14rem;
        }
        .copy-wxh-btn{
            margin: 0.2rem 0 0 0;
            button{
                padding: 0.06rem 0.15rem!important;
                font-size: 0.15rem!important;
                line-height: 0.3rem!important;
                border-radius: .1rem!important;
                &:hover{
                    box-shadow: 0 0 0 8px rgba(0,123,255,.25);
                }
                &:focus{
                    box-shadow: 0 0 0 8px rgba(0,123,255,.25);
                }
            }
        }
    }
    .add-wx-tips{
        padding: 0.2rem;
        .title{
            text-align: center;
            font-size: 0.2rem;
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                font-size: 0.14rem;
                list-style: none;
                padding: 0;
                margin: 0.1rem 0 0 0;
                img{
                    border: 2px solid #313758;
                }
            }
        }
        p{
            margin: 0!important;
            padding: 0!important;
        }
    }
    .s-comments {
        width: 100%;
        .s-list {
            width: 100%;
            .s-line {
                border-bottom: 1px solid #fff;
                .s-reply-box {
                    font-size: 0.12rem;
                    ul {
                        padding: 0;
                        margin: 0 0.1rem;
                        li {
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            .s-name {

                            }
                            .s-content {

                            }
                            .s-time {

                            }
                        }
                    }

                }
            }
            td {
                padding: 0.1rem;
            }
            .s-name {
                color: #3361a7;
                font-size: 0.14rem;

            }
            .s-time {
                color: #c5c9cd;
                font-size: 0.12rem;
            }
            .s-content {
                font-size: 0.12rem;

            }
            .s-portrait {
                height: 0.38rem;
                width: 0.38rem;
            }
        }
    }
    .html18-footer{
        width: 100%;
        max-width: $maxWidth;
        margin: 0 auto;
        text-align: center;
        padding: 0.2rem 0;
    }

}

