<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风格管理</title>
    {include file="public/head" /}
    {include file="public/css" /}
    <style>
        /*.layui-table-cell{
            height: auto!important;
        }*/
    </style>
</head>
<body>
<div id="app">
    <div class="layui-layout layui-layout-admin">
        {include file="public/nav-top" /}
        {include file="public/nav-left" /}
        <div class="layui-body">
            <div class="layui-card">
                <div class="layui-card-header">
                    <a href="{:url('admin/template/show')}">模板管理</a> /
                    <a><cite>风格管理</cite></a>
                </div>
                <div class="layui-card-body">
                    <div class="domain_list_btn">
                        <a class="layui-btn layui-btn-normal" data-type="add">新增风格</a>
                        <a class="layui-btn layui-btn-normal" data-type="reload">刷新</a>
                    </div>
                    <table id="template_list" lay-filter="template_list"></table>

                </div>
            </div>
        </div>
        {include file="public/footer" /}
    </div>

    <!--新增与编辑站点HTML-->
    <div id="edit-box" style="padding: 20px;display: none;">
        <form id="edit-form" class="layui-form layui-form-pane" method="post" :action="postURL">
            <input type="hidden" name="template_dir_id" v-model="templateDirID">
            <input type="hidden" name="template_id" v-model="templateID">
            <div class="layui-form-item">
                <label class="layui-form-label">风格文件</label>
                <div class="layui-input-block">
                    <input type="text" name="template_name" required lay-verify="required" autocomplete="off"
                           class="layui-input" v-model="templateName">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注释文本</label>
                <div class="layui-input-block">
                    <input type="text" name="template_note" autocomplete="off"
                           class="layui-input" v-model="templateNote">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">{{submitButtonString}}</button>
                    <a type="button" class="layui-btn layui-btn-primary" data-type="close">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="style_img">
    <div style="width: 200px;"><img src="__TEMPLATE__/{{d.template_dir_name}}/{{d.template_name}}.png" /></div>
</script>
{include file="public/js" /}
<script>
    var app = new Vue({
        el: "#app",
        data: {
            disabled: false,
            postURL: "",
            templateDirID: {$template_dir_id},
            templateID: 0,
            templateName: "",
            templateNote:"",
            submitButtonString: ""
        },
        created: function () {
            layui.use(['element', 'layer', 'table'], function () {
                var layer = layui.layer,
                    table = layui.table;
                var openIndex;

                table.render({
                    elem: '#template_list',
                    url: '{:url("admin/template/style")}',//数据接口
                    method: 'post',
                    where: {template_dir_id: app.templateDirID},
                    loading: true,
                    page: true,//开启分页
                    cols: [[
                        /*{field: 'template_id', title: 'ID', minWidth: 80},*/
                        {field: 'template_name', title: '模板风格', minWidth: 100},
                        {field: 'template_dir_name', title: '模板主题', minWidth: 100},
                        {field: 'template_note', title: '描述内容', minWidth: 200},
                        {field: 'template_name', title: '预览图', width: 150,templet:'#style_img'},
                        {
                            title: '操作',
                            minWidth: 220,
                            toolbar: '<div>' +
                                '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>' +
                                '<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>' +
                                '</div>'
                        }
                    ]]
                });

                table.on('tool(template_list)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'edit':
                            app.postURL = "{:url('admin/template/editstyle')}";
                            app.templateID = data.template_id;
                            app.templateName = data.template_name;
                            app.templateNote = data.template_note;
                            app.submitButtonString = "确认修改";
                            openIndex = layer.open({
                                type: 1,
                                title: "编辑",
                                area: "460px",
                                content: $("#edit-box")
                            });
                            break;
                        case 'del':
                            layer.confirm('是否确定删除' + data.template_name + '风格？', {
                                icon: 3,
                                title: '提示'
                            }, function (index) {
                                $.post("{:url('admin/template/delstyle')}", {
                                    template_id: data.template_id
                                }, function (data, status) {
                                    layer.msg(data.msg);
                                    if (data.code === 0) {
                                        obj.del();
                                    }
                                    layer.close(index);
                                }, 'JSON');
                            });
                            break;
                    }
                });

                jQuery("#edit-form").submit(function () {
                    var loadIndex = layer.load();
                    $(this).ajaxSubmit({
                        success: function (data, status) {
                            layer.close(loadIndex);
                            layer.msg(data.msg);
                            if (data.code === 0) {
                                layer.close(openIndex);
                                active.reload();
                            }
                        }
                    });
                    return false;
                });

                var $ = layui.$, active = {
                    reload: function () {
                        table.reload('template_list');
                    },
                    add: function () {
                        app.postURL = "{:url('admin/template/addstyle')}";
                        app.templateName = "";
                        app.templateNote = "";
                        app.submitButtonString = "确认新增";
                        openIndex = layer.open({
                            type: 1,
                            title: "新增",
                            area: "460px",
                            content: $("#edit-box")
                        });
                    },
                    close: function () {
                        layer.close(openIndex); //执行关闭
                    }
                };
                $('.layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
        }
    });
</script>
</body>
</html>