<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<form method="post" action="{:url('admin/domain/add')}">
    <div class="form-group">
        <label for="domain_url">域名(不带http与/)</label>
        <input type="text" class="form-control" id="domain_url" name="domain_url" placeholder="如：www.xxx.com">
    </div>
    <div class="form-group">
        <label for="domain_copyright">版权所有</label>
        <textarea class="form-control" id="domain_copyright" name="domain_copyright" rows="3"></textarea>
    </div>
    <div class="form-group
">
        <label for="domain_count_code">统计代码</label>
        <textarea class="form-control" id="domain_count_code" name="domain_count_code" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">确认添加</button>
    <button type="button" class="btn btn-default" onclick="history.go(-1);">返回</button>
</form>
</body>
</html>