<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<form method="post" action="{:url('admin/domain/edit')}">
    <input type="hidden" id="domain_id" name="domain_id" value="{$result['domain_id']}">
    <div class="form-group">
        <label for="domain_url">域名(不带http与/)</label>
        <input type="text" class="form-control" id="domain_url" name="domain_url" placeholder="如：www.xxx.com" value="{$result['domain_url']}" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="domain_copyright">版权所有</label>
        <textarea class="form-control" id="domain_copyright" name="domain_copyright" rows="3">{:html_entity_decode($result['domain_copyright'])}</textarea>
    </div>
    <div class="form-group
">
        <label for="domain_count_code">统计代码</label>
        <textarea class="form-control" id="domain_count_code" name="domain_count_code" rows="3">{:html_entity_decode($result['domain_count_code'])}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">确认修改</button>
    <a role="button" class="btn btn-secondary" href="{:url('admin/domain/show')}">返回</a>
</form>
</body>
</html>