<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">域名管理</div>
    <div class="layui-card-body">
        <div>
            <a href="{:url('admin/domain/add')}" class="layui-btn layui-btn-normal">新增域名</a>
        </div>
        <table id="domain_list" lay-filter="domain"></table>
    </div>
</div>


{include file="public/js" /}
<script>
    layui.use(['layer','table'],function () {
       var layer=layui.layer;
       var table=layui.table;

       window.del=function (id,url) {
           layer.confirm('确认要删除'+url+'吗？',{icon:3,title:'提示'},function (index) {
               console.log('确认删除'+id);
               layer.close(index);
           });
       };

       table.render({
           elem:'#domain_list',
           url:'{:url("admin/domain/show")}',//数据接口
           method:'post',
           loading:true,
           page:true,//开启分页
           cols:[[
               {field:'domain_id',title:'ID',width:'10%'},
               {field:'domain_url',title:'域名',width:'30%'},
               {field:'domain_copyright',title:'版权信息',width:'40%'},
               {title:'操作',toolbar:'<div><a class="layui-btn layui-btn-normal layui-btn-sm" href="">编辑</a> <a class="layui-btn layui-btn-danger layui-btn-sm" href="{{d.domain_id}}">删除</a></div>',width:'20%'}
           ]]
       });
    });

</script>
</body>
</html>