<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/css" /}
</head>
<body>
<div id="app">
    <div class="layui-card">
        <div class="layui-card-header">站点管理</div>
        <div class="layui-card-body">
            <div class="domain_list_btn">
                <a class="layui-btn layui-btn-normal" @click="add">新增站点</a>
                <a class="layui-btn layui-btn-normal" data-type="reload">来源管理</a>
                <a class="layui-btn layui-btn-normal" @click="reload">刷新</a>
            </div>
            <table id="domain_list" lay-filter="domain_list"></table>

        </div>
    </div>

    <!--新增与编辑站点HTML-->
    <div id="edit-box" style="padding: 20px;display: none;">
        <form id="add-form" class="layui-form layui-form-pane" method="post" :action="postURL">
            <input type="hidden" id="domain_id" name="domain_id" v-model="domainID">
            <div class="layui-form-item">
                <label class="layui-form-label">域名</label>
                <div class="layui-input-block">
                    <input type="text" name="domain_url" required lay-verify="required"
                           placeholder="例如：www.xxx.com（不带http://）" autocomplete="off" class="layui-input"
                           v-model="domainURL" :disabled="domainURLDisabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">版权信息</label>
                <div class="layui-input-block">
                    <textarea name="domain_copyright" class="layui-textarea" required lay-verify="required" rows="3"
                              v-model="domainCopyright"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">统计代码</label>
                <div class="layui-input-block">
                    <textarea name="domain_count_code" class="layui-textarea" rows="3"
                              v-model="domainCountCode"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">允许来源</label>
                <div class="layui-input-block">
                    {volist name="sources" id="v"}
                    <input type="checkbox" name="sources[{$v.source_id}]" value="{$v.source_id}" title="{$v.source_name}" lay-filter="sources" v-model="sources">
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">{{submitButtonString}}</button>
                    <a type="button" class="layui-btn layui-btn-primary" @click="close">关闭</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/js" /}

<script>
    var layer, form, table, openIndex;
    var app = new Vue({
        el: "#app",
        data: {
            domainURLDisabled: false,
            postURL: "",
            domainID: 0,
            domainURL: "",
            domainCopyright: "",
            domainCountCode: "",
            submitButtonString: "",
            sources:[]
        },
        methods: {
            add:function () {
                app.domainURLDisabled = false;
                app.postURL = "{:url('admin/domain/add')}";
                app.domainURL = "";
                app.domainCopyright = "";
                app.domainCountCode = "";
                app.submitButtonString = "确认新增";
                app.sources=[];
                openIndex = layer.open({
                    type: 1,
                    title: "新增",
                    area: "460px",
                    content: $("#edit-box")
                });
            },
            reload:function () {
                table.reload('domain_list');
            },
            close:function () {
                layer.close(openIndex); //关闭新增和编辑窗口
            }
        },
        updated: function () {
            form.render();//表单更新渲染。
        },
        created: function () {
            layui.use(["layer", "table", "form"], function () {
                layer = layui.layer;
                form = layui.form;
                table = layui.table;

                table.render({
                    elem: '#domain_list',
                    url: '{:url("admin/domain/show")}',//数据接口
                    method: 'post',
                    loading: true,
                    page: true,//开启分页
                    cols: [[
                        {field: 'domain_id', title: 'ID', width: 80},
                        {field: 'domain_url', title: '域名', width: 250},
                        {field: 'domain_copyright', title: '版权信息', width: 430},
                        {
                            title: '操作',
                            toolbar: '<div>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>' +
                            '<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>' +
                            '<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="page">页面管理</a>' +
                            '</div>'
                        }
                    ]]
                });

                table.on('tool(domain_list)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'edit':
                            var str=data.domain_source_allow;
                            if(str===null || str===""){
                                app.sources=[];
                            }else{
                                app.sources=str.split(",");
                            }
                            app.domainURLDisabled = true;
                            app.postURL = "{:url('admin/domain/edit')}";
                            app.domainID = data.domain_id;
                            app.domainURL = data.domain_url;
                            app.domainCopyright = htmlDecode(data.domain_copyright);
                            app.domainCountCode = htmlDecode(data.domain_count_code);
                            app.submitButtonString = "确认修改";
                            openIndex = layer.open({
                                type: 1,
                                title: "编辑",
                                area: "460px",
                                content: $("#edit-box")
                            });
                            break;
                        case 'del':
                            layer.confirm('是否确定删除【' + data.domain_url + '】站点及其所有页面？', {
                                icon: 3,
                                title: '提示'
                            }, function (index) {
                                $.post("{:url('admin/domain/del')}", {
                                    domain_id: data.domain_id
                                }, function (data, status) {
                                    console.log(data);
                                    console.log(status);
                                    layer.msg(data.msg);
                                    if (data.code === 0) {
                                        obj.del();
                                    }
                                    layer.close(index);
                                }, 'JSON');
                            });
                            break;
                        case 'page':
                            var url = "{:url('admin/page/show',['domain_id'=>-19880722])}";
                            url = url.replace("-19880722", data.domain_id);
                            console.log(url);
                            location.href = url;
                            break;
                    }
                });
                form.on("checkbox(sources)",function (data) {
                    var checked=data.elem.checked;//获取当前点击的复选框选中状态
                    var value=data.value;//获取当前点击的复选框的值
                    var isEx=false;//用于判断当前值是否存在于sources数组中。
                    for(var i=0;i<app.sources.length;i++){
                        //循环sources数组
                        if(app.sources[i]===value){
                            //如果有相同的值，设置isEx为true,并跳出循环。
                            isEx=true;
                            break;
                        }
                    }
                    if(isEx){
                        //如果存在
                        if(!checked){
                            //已经存在，再次选中不管。这里为不选中的话
                            app.sources.splice(i,1);
                        }
                    }else{
                        //如果不存在
                        if(checked){
                            //不存在，也没有选中就不管，这里为选中
                            app.sources.push(value);
                        }
                    }
                    console.log(app.sources);
                });
                jQuery("#add-form").submit(function () {
                    var loadIndex = layer.load();
                    $(this).ajaxSubmit({
                        success: function (data, status) {
                            layer.close(loadIndex);
                            layer.msg(data.msg);
                            if (data.code === 0) {
                                layer.close(openIndex);
                                app.reload();
                            }
                        }
                    });
                    return false;
                });
            });
        }
    });
</script>
</body>
</html>