<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/head" /}
    {include file="public/css" /}
</head>
<body>
<form class="layui-form layui-form-pane" method="post" action="{:url('admin/user/adddefine')}">
    <div class="layui-form-item">
        <label class="layui-form-label">字段名</label>
        <div class="layui-input-block">
            <input type="text" name="define_name" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述文本</label>
        <div class="layui-input-block">
            <input type="text" name="define_note" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">确认新增</button>
            <button type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>
{include file="public/js" /}
<script>
    layui.use('form',function () {
        var form=layui.form;

        form.on('submit(form)',function (data) {
            return false;
        });
    });
</script>
</body>
</html>