body{
    background: #f3f3f3!important;
}
.fu_box {
    width: 204px;
    height: 328px;
    position: fixed;
    top: 150px;
    right: 20px;
    background: url(../img/fu_box.png) no-repeat center top;
    background-size: 100%;
    z-index: 8;
    p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .p0{
        font-size: 16px;
        color: white;
    }
    .p1 {
        font-size: 18px;
        padding-top: 40px;
        color: white;
    }
    .fu_box_img {
        width: 143px;
        height: 143px;
        display: block;
        margin: 6px auto 0;
    }
    img {
        vertical-align: middle;
        border: 0;
    }
    .p2 {
        font-size: 18px;
        padding-top: 15px;
        color: white;
    }
    .p3 {
        font-size: 18px;
        padding-top: 3px;
        color: white;
    }
}
.copy_wx_box {
    width: 100%;
    height: 50px;
    background: #64ab23;
    color: #fcff19;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    .copy_wx_btn{
        font-size: 16px;
        display: none;
    }
}
.copy_wx_box_pc {
    width: 100%;
    height: 50px;
    background: #f85b55;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.copy_wx_btn{
    font-size: 16px;
    display: none;
}
.touch_icon {
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 999;
}
.wx-box{
    width: auto;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    background: #64ab23;
    color: #fcff19;
    margin: 0 auto;
    .a{
        font-size: 1.2rem;

    }
    .b{
        margin-top: 10px;
    }
    .c{
        margin-top: 10px;
    }
}
.s-top-nav {
    background: #262b42;
    color: #cfd8e5;
    padding: 0.4rem 0 0.7rem 0.5rem;
    .a{
        font-size: 1.8rem;

    }
    .b{
        font-size: 1.2rem;
        padding: 0.7rem 0 0 0.5rem;

    }
    .blue_kit_btn {
        float: left;
        height: 44px;
        position: relative;
        padding: 0 8px;
        color: #d1daea;
        font-size: 16px;
        -webkit-tap-highlight-color: transparent;
    }
}

.s-nav {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    font-size: 1.2rem;
    padding: 0 10px;
    margin-bottom: 10px;
    .s-l {
        font-weight: bold;
    }
    .s-r {
        font-size: 1rem;
    }
}

.s-contentxx {
    padding: 10px;
    margin: 0 auto;
    background: #ffffff;
    p{
        margin-bottom: 0.6rem!important;
        font-size: 1rem;
    }
    table {
        margin: 20px 0;
        td {
            padding: 0 5px;
        }
    }
    .s-portrait {
        img {
            height: 38px;
            width: 38px;
        }
    }
    .s-name {
        font-size: 1rem;
    }
    .s-describe {
        font-size: 0.8rem;
    }
}

.s-comments {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    .s-list {
        width: 100%;
        .s-line {
            border-bottom: 10px solid #f3f3f3;
            margin-bottom: 10px;
            .s-reply-box {
                font-size: 1rem;
                ul {
                    padding: 0;
                    margin: 0 10px;
                    li {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        .s-name {

                        }
                        .s-content {

                        }
                        .s-time {

                        }
                    }
                }

            }
        }
        td {
            padding: 10px;
        }
        .s-name {
            color: #3361a7;
            font-size: 1rem;

        }
        .s-time {
            color: #c5c9cd;
            font-size: 0.8rem;
        }
        .s-content {
            font-size: 1rem;

        }
        .s-portrait {
            height: 38px;
            width: 38px;
        }
    }
}

.s-footer {
    text-align: center;
    height: 90px;
    background: #f3f3f3;
    padding: 20px 0;
    font-size: 14px;
}