<ul class="pl" style="text-align:left;">
    <li>
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/timg(3).jpg" alt="头像"
                                                                    width="36" height="36" class="user_img"></span></a>
                    </div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">度</a></span> <span
                            class="level level_6">6</span> <br><span class="list_item_floor_num">2楼</span><span
                            class="list_item_time">昨天 15:03</span></div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 我也是跟这个老师操作，之前一直亏啊，老婆本都亏了，后来偶然机会关注了老师微信后，现在月收益从2万变5万，嘻嘻~~~~</div>
            </div>
        </div>
    </li>
    <li tid="77120155804" fn="3">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_1.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">反弹到顶</a></span>
                        <span class="level level_1">1</span> <br><span class="list_item_floor_num">3楼</span><span
                                class="list_item_time">昨天 15:03</span></div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 老师这么忙，会给投资菜鸟指导吗？要不要钱的啊？</div>
                <div class="fr_list j_floor_panel" data-list-count="5">
                    <ul class="flist">
                        <li pid="77120190576">
                            <div class="fmain j_floor_main">
                                <div class="floor_footer_item"><a class="user_name ">投资达人</a>：<span
                                        class="floor_content">老师的朋友圈每天发布市场资讯涨跌分析，他对市场把握很准，还推荐了不少其他投资项目，问了就一定回复的，只是有时忙了就迟一点，免费咨询的！
</span> <span class="list_item_time">                昨天 15:08</span></div>
                            </div>
                        </li>
                        <li pid="77120495668">
                            <div class="fmain j_floor_main">
                                <div class="floor_footer_item"><a class="user_name">反弹到顶</a><a
                                        class="user_name "></a>：<span class="floor_content">                                回复&nbsp;<a
                                        class="user_name ">投资达人</a><a></a>&nbsp;:谢谢，（<span
                                        class="weixin"><span class="go user-wx">{$sh.brand_weixin?:''}</span></span>）我直接加这个微信号就可以了？</span>
                                    <span
                                            class="list_item_time">                昨天 15:11</span></div>
                            </div>
                        </li>
                    </ul>
                    <div class="fmain j_floor_main">
                        <div class="floor_footer_item"><a class="user_name ">投资达人</a>：<span class="floor_content"> 回复&nbsp;<a
                                class="user_name">反弹到顶</a><a></a>&nbsp;:</span><span class="floor_content"> 嗯嗯是的啊，愿你早点获利.^_^ </span>
                            <span class="list_item_time"> 昨天 15:14</span></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li tid="77120939411" fn="5">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_2.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">不当韭菜的小白</a></span>
                        <span class="level level_6">6</span> <br><span class="list_item_floor_num">4楼</span><span
                                class="list_item_time">昨天 15:21</span></div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="1"> 感觉很真实有用，尝试了加老师好友，果然是真的！我一直是投资市场菜鸟，现在已经学习到不少经验啦！赚大钱就不是问题啦！楼主真是好人
                </div>
                <div class="content" lz="1">
                    <a class="user_name ">投资达人</a>：祝你大赚特赚哈
                </div>
                <div class="fr_list j_floor_panel" style="display: none;" data-list-count="0"></div>
            </div>
        </div>
    </li>
    <li tid="77121012173" fn="6">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_3.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">一飞冲天</a></span>
                        <span class="level level_5">5</span> <br>
                        <span class="list_item_floor_num">5楼</span><span class="list_item_time">昨天 15:23</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 老师的的建议很中肯的，他会根据目个人情况做出专业判断！他上周推荐的投资产品不错，投了，一直赚，很开心，很感谢老师！</div>
            </div>
        </div>
    </li>
    <li tid="77121229321" fn="7">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_4.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">喵了个咪</a></span>
                        <span class="level level_7">7</span> <br>
                        <span class="list_item_floor_num">6楼</span><span class="list_item_time">昨天 15:28</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 嘻嘻~~~我已经加老师微信了，居然周末还在指导我，真的好积极勤奋</div>
            </div>
        </div>
    </li>
    <li tid="77121482961" fn="8">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_5.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name red_name"
                                                          style="background-image: url(__TEMPLATE__/lsm/img/6afa80cb39dbb6fdf9de234d0b24ab18962b37f0.jpg)"><a
                            class="user_name">money power</a></span> <span class="level level_11">11</span> <br>
                        <span class="list_item_floor_num">7楼</span><span class="list_item_time">昨天 15:34</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 谢谢楼主的分享，有钱一起赚，带我一起玩吧，我现在还赚不到钱呢，可怜</div>
                <div class="fr_list j_floor_panel" data-list-count="1">
                    <ul class="flist">
                        <li pid="77121901110">
                            <div class="fmain j_floor_main">
                                <div class="floor_footer_item"><a class="user_name ">投资达人</a>：<span
                                        class="floor_content">如果赚钱了，还是好好谢谢老师把，（<span
                                        class="weixin"><span class="go user-wx">{$sh.brand_weixin?:''}</span></span>）这个是老师的微信号</span>
                                    <span
                                            class="list_item_time">                昨天 15:44</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li tid="77121562780" fn="9">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_6.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">我是潜力投资</a></span>
                        <span class="level level_5">5</span> <br>
                        <span class="list_item_floor_num">8楼</span><span class="list_item_time">昨天 15:36</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0">
                    我现在也有在做投资，也赚了不少。虽然银行卡上的数字并没有很多，但我相信总有一天我银行卡上的数字也会像蹭蹭的上涨的，只要跟着老师学投资理财就心安了~~
                </div>
            </div>
        </div>
    </li>
    <li tid="77121871547" fn="10">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_7.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">不做无名小卒</a></span>
                        <span class="level level_1">1</span> <br>
                        <span class="list_item_floor_num">9楼</span><span class="list_item_time">昨天 15:43</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 我一开始以为老师只是理论派的。谁知道人家的实操那么牛，我也沾了光，哈哈，老师简直就是活神仙啊</div>
                <div class="fr_list j_floor_panel" data-list-count="1">
                    <ul class="flist">
                        <li pid="77121901110">
                            <div class="fmain j_floor_main">
                                <div class="floor_footer_item"><a class="user_name ">投资达人</a>：<span
                                        class="floor_content">亲，跟老师好好学习下怎么投资，真不是盖的<img
                                        src="__TEMPLATE__/lsm/img/i_f01.png"></span> <span class="list_item_time">                昨天 15:44</span>
                                </div>
                            </div>
                            <div class="floor_footer_item"><a class="user_name">不做无名小翠</a><a
                                    class="user_name "></a>：<span class="floor_content">                                回复&nbsp;<a
                                    class="user_name ">投资达人</a><a></a>&nbsp;:嗯嗯O(∩_∩)O~，谢谢好推荐。</span> <span
                                    class="list_item_time">                昨天 15:11</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li tid="77122143859" fn="11">
        <div class="list_item_wrapper">
            <div class="list_main">
                <div class="list_item_top clearfix">
                    <div class="list_item_top_avatar"><a><span><img src="__TEMPLATE__/lsm/img/tx_8.jpg" alt="头像"
                                                                    width="36"
                                                                    height="36" class="user_img"></span></a></div>
                    <div class="list_item_top_name"><span class="user_name"><a class="user_name">左手爱上右手</a></span>
                        <span class="level level_4">4</span> <br>
                        <span class="list_item_floor_num">10楼</span><span class="list_item_time">昨天 15:50</span>
                    </div>
                    <div class="list_item_more_operation"><a href="javascript:void(0);"
                                                             class="list_item_more_operation_btn j_list_item_more_operation_btn pb_icon icon_btn">操作</a>
                        <div class="list_item_operation j_list_item_operation clearfix"><a
                                href="javascript:void(0);"
                                class="btn btn_dark bookmark_icon pb_icon_after j_floor_num ">收藏</a><a
                                href="javascript:void(0);"
                                class="j_nreply_btn btn btn_dark reply_icon pb_icon_after">回复</a> <a
                                class="j_report_btn report_icon pb_icon_after btn btn_dark icon_btn">举报</a></div>
                    </div>
                </div>
                <div class="content" lz="0"> 之前一直投资好多产品都赚不到钱，很烦恼，加老师微信才给了一条明路，大爱老师！
                </div>
            </div>
        </div>
    </li>
    <style>.weixin {
        color: #F00;
    }

    .xiang-guan-tie-wrap {
        width: 360%;
    }

    .xiang-guan-tie-item {
        width: 25%;
    }</style>
</ul>