<script src="__PLUGINS__/jquery/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    var uid = uid || [];
    uid.push('d6396e998eb50d46970e7b04340747f1');
    (function () {
        var ma = document.createElement('script');
        ma.type = 'text/javascript';
        ma.async = true;
        ma.src = 'http://tj.hzypro.com/kw_ex.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ma, s);
    })();
</script>

<script src="__TEMPLATE__/lsm/js/fun.js"></script>