<div id="i_head" class="blue_kit blue_kit_top  blue_kit_fix" style="position: static;">
    <div class="blue_kit_left">
        <a class="j_back_btn blue_kit_btn blue_kit_btn_back">
            <!--<span class="icon_tieba_logo blue_kit_btn_logo"></span>-->
        </a>
        <a class="post_title_text">主题贴</a>
    </div>
    <div class="blue_kit_right">
        <a id="j_see_lz" class="blue_kit_icon blue_kit_icon_see_lz pb_icon icon_btn">楼主</a>
        <a data-blue-kit="1" class="blue_kit_icon blue_kit_icon_search pb_icon icon_btn">搜索</a>
        <a href="javascript:void(0);" class="j_new_header_more blue_kit_icon blue_kit_icon_more pb_icon icon_btn">更多</a>
    </div>
    <ul class="more_spinner j_more_spinner spinner">
        <li><a href="javascript:void(0);" class="spinner_item pb_icon j_spinner_collect spinner_collect">收藏</a></li>
        <li><a href="javascript:void(0);" class="spinner_item pb_icon j_spinner_jump spinner_jump">跳页</a></li>
        <li><a class="spinner_item pb_icon j_spinner_report spinner_report">举报</a></li>
    </ul>
</div>
<div class="forum_item forum_intro">
    <a class="forum_info_wrapper arrow arrow_line arrow_right arrow_position_right " data-start-app="1"
       data-start-app-page="frs" data-start-app-param="减肥">
        <div class="forum_portrait" style="background-image:url(__TEMPLATE__/lsm/img/timg.jpg);"></div>
        <h3 class="forum_name">投资吧</h3>
        <div class="forum_info">
            <span class="forum_info_menber_num">216w</span>
            <span class="forum_info_post_num">0</span></div>
    </a>
</div>